body { font-family: Georgia !important;}
body::-webkit-scrollbar { width: 0em;display: none; }

.header_container { position: fixed;width: 100%;top: 0;z-index: 5; }
.subHeader{background-color: #ffffff;}

.body_container { /* height: 100vh;overflow-y:auto; */ height: 100vh; background-color: #d3bdbd;margin-top: 96px;margin-bottom: 60px; }

.footer { text-align: center;position: fixed;bottom: 0;width: 100%;height: 60px;background: #afb2bf;z-index: 0; }

.cust_table { height:calc( 100vh - 145px );overflow-y:auto;padding-bottom:60px; }

.cust_table::-webkit-scrollbar { width: 0em;display: none; }

.login_form , .register_form { left : 50%;top : 50%;position : absolute;transform : translate(-50%, -50%); }
.btn_submit { margin: auto !important;display: flex !important; }

.login ,.register { height: calc(100% - 0px); }